In [1]:
import pandas as pd

In [2]:
stats = pd.read_csv("player_mvp_stats.csv")

In [3]:
stats

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
1,1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
2,2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
3,3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
4,4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14692,14692,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14693,14693,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14694,14694,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14695,14695,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14696,14696,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [4]:
del stats["Unnamed: 0"]

In [5]:
stats[pd.isnull(stats["FT%"])][["Player", "FTA"]]

                Player  FTA
77          John Coker  0.0
92        Jason Sasser  0.0
103    Adrian Caldwell  0.0
119       Bruno Šundov  0.0
158     Jamal Robinson  0.0
...                ...  ...
14556    Mark McNamara  0.0
14584      Luke Zeller  0.0
14637      Myron Brown  0.0
14659      Malcolm Lee  0.0
14693      Steve Novak  0.0

[521 rows x 2 columns]

In [6]:
stats = stats.fillna(0)

In [7]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [8]:
predictors = ['Age','G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS']

In [9]:
train = stats[~(stats["Year"] < 2022)]
test = stats[stats["Year"] == 2022]

In [10]:
from sklearn.linear_model import Ridge

reg = Ridge(alpha=.1)

In [11]:
reg.fit(train[predictors], train["Share"])

Ridge(alpha=0.1)

In [12]:
predictions = reg.predict(test[predictors])

In [13]:
predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)

In [14]:
predictions

       predictions
648       0.010322
649      -0.017636
650       0.006702
651       0.026369
652      -0.007286
...            ...
12508    -0.015782
12509    -0.005516
12510     0.011015
12511    -0.006756
12512    -0.031112

[605 rows x 1 columns]

In [15]:
combination = pd.concat([test[["Player", "Share"]],predictions], axis=1)

In [16]:
combination

                Player  Share  predictions
648       Aaron Gordon    0.0     0.010322
649      Austin Rivers    0.0    -0.017636
650            Bol Bol    0.0     0.006702
651       Bones Hyland    0.0     0.026369
652        Bryn Forbes    0.0    -0.007286
...                ...    ...          ...
12508     Micah Potter    0.0    -0.015782
12509  Rodney McGruder    0.0    -0.005516
12510        Saben Lee    0.0     0.011015
12511       Saddiq Bey    0.0    -0.006756
12512   Trayvon Palmer    0.0    -0.031112

[605 rows x 3 columns]

In [17]:
combination.sort_values("Share", ascending=False).head(10)

                      Player  Share  predictions
663             Nikola Jokić  0.875     0.183064
837              Joel Embiid  0.706     0.189059
11678  Giannis Antetokounmpo  0.595     0.216236
907             Devin Booker  0.216     0.044236
11469            Luka Dončić  0.146     0.131955
1179            Jayson Tatum  0.043     0.077984
12226              Ja Morant  0.010     0.076811
6398           Stephen Curry  0.004     0.041934
905               Chris Paul  0.002     0.046283
8241            LeBron James  0.001     0.099265

In [18]:
from sklearn.metrics import mean_squared_error

mean_squared_error(combination["Share"], combination["predictions"])

0.002033493107406866

In [19]:
combination["Share"].value_counts()

0.000    593
0.001      3
0.875      1
0.706      1
0.002      1
0.216      1
0.043      1
0.004      1
0.146      1
0.595      1
0.010      1
Name: Share, dtype: int64

In [20]:
actual = combination.sort_values("Share", ascending=False)
predicted = combination.sort_values("predictions", ascending=False)
actual["Rk"] =  list(range(1, actual.shape[0]+1))
predicted["Prediction_Rk"] = list(range(1, predicted.shape[0]+1))

In [21]:
combination.head(10)

               Player  Share  predictions
648      Aaron Gordon    0.0     0.010322
649     Austin Rivers    0.0    -0.017636
650           Bol Bol    0.0     0.006702
651      Bones Hyland    0.0     0.026369
652       Bryn Forbes    0.0    -0.007286
653      Carlik Jones    0.0    -0.010430
654        Davon Reed    0.0     0.008796
655  DeMarcus Cousins    0.0     0.045274
656  Facundo Campazzo    0.0     0.010556
657    JaMychal Green    0.0     0.017091

In [22]:
combination = combination.sort_values("predictions", ascending=False)
combination["Prediction_Rk"] = list(range(1, combination.shape[0]+1))

In [23]:
combination.head(10)

                      Player  Share  predictions  Prediction_Rk
11678  Giannis Antetokounmpo  0.595     0.216236              1
837              Joel Embiid  0.706     0.189059              2
663             Nikola Jokić  0.875     0.183064              3
11469            Luka Dončić  0.146     0.131955              4
11891            Rudy Gobert  0.000     0.123695              5
836             James Harden  0.000     0.118058              6
6185            Kevin Durant  0.001     0.117576              7
8241            LeBron James  0.001     0.099265              8
8276      Karl-Anthony Towns  0.000     0.086777              9
1856        Domantas Sabonis  0.000     0.085208             10

In [24]:
#using average presition to determine another error metric 

combination.sort_values("Share", ascending=False).head(10)

                      Player  Share  predictions  Prediction_Rk
663             Nikola Jokić  0.875     0.183064              3
837              Joel Embiid  0.706     0.189059              2
11678  Giannis Antetokounmpo  0.595     0.216236              1
907             Devin Booker  0.216     0.044236             42
11469            Luka Dončić  0.146     0.131955              4
1179            Jayson Tatum  0.043     0.077984             11
12226              Ja Morant  0.010     0.076811             14
6398           Stephen Curry  0.004     0.041934             44
905               Chris Paul  0.002     0.046283             35
3938           DeMar DeRozan  0.001     0.067376             20

In [25]:
def find_ap(combination):
    actual = combination.sort_values("Share", ascending=False).head(5)
    predicted = combination.sort_values("predictions", ascending=False)
    ps = []
    found = 0
    seen = 1
    for index, row in predicted.iterrows():
        if row["Player"] in actual["Player"].values:
            found += 1
            ps.append(found/seen)
        seen += 1
    return sum(ps) / len(ps)

In [26]:
find_ap(combination)

0.8238095238095238

In [27]:
years = list(range(1991, 2023))

In [28]:
aps = []
all_predictions = []
for year in years[5:]:
    train = stats[stats["Year"] < year]
    test = stats[stats["Year"] == year]
    reg.fit(train[predictors], train["Share"])
    predictions = reg.predict(test[predictors])
    predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
    combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
    all_predictions.append(combination)
    aps.append(find_ap(combination))

In [29]:
sum(aps) / len(aps)

0.7152712173135063

In [30]:
def add_ranks(combination):
    combination = combination.sort_values("Share", ascending=False)
    combination["Rk"] = list(range(1, combination.shape[0]+1))
    combination = combination.sort_values("predictions", ascending=False)
    combination["Predicted_Rk"] = list(range(1, combination.shape[0]+1))
    combination["Diff"] = combination["Rk"] - combination["Predicted_Rk"]
    return combination

In [31]:
add_ranks(all_predictions[1])

                 Player  Share  predictions   Rk  Predicted_Rk  Diff
13154  Shaquille O'Neal  0.006     0.198202   10             1     9
1710        Karl Malone  0.857     0.192318    1             2    -1
10976    Michael Jordan  0.832     0.167629    2             3    -1
12591   Hakeem Olajuwon  0.083     0.136357    7             4     3
10274    David Robinson  0.000     0.131089   36             5    31
...                 ...    ...          ...  ...           ...   ...
13748     Eric Montross  0.000    -0.043824  164           437  -273
5171     Pervis Ellison  0.000    -0.047037  423           438   -15
10841      Popeye Jones  0.000    -0.048904  199           439  -240
10970     Dennis Rodman  0.000    -0.054609  191           440  -249
7087      Melvin Booker  0.000    -0.055185  341           441  -100

[441 rows x 6 columns]

In [32]:
ranking = add_ranks(all_predictions[1])
ranking[ranking["Rk"]<5].sort_values("Diff", ascending=False)

               Player  Share  predictions  Rk  Predicted_Rk  Diff
1710      Karl Malone  0.857     0.192318   1             2    -1
10976  Michael Jordan  0.832     0.167629   2             3    -1
970        Grant Hill  0.327     0.128646   3             6    -3
4912     Tim Hardaway  0.207     0.059984   4            20   -16

In [33]:
def backtest(stats, model, year, predictors):
    aps = []
    all_predictions = []
    for year in years[5:]:
        train = stats[stats["Year"] < year]
        test = stats[stats["Year"] == year]
        reg.fit(train[predictors], train["Share"])
        predictions = reg.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
        combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
    return sum(aps)/len(aps), aps, pd.concat(all_predictions)

In [34]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [35]:
mean_ap

0.7152712173135063

In [36]:
all_predictions

                 Player  Share  predictions   Rk  Predicted_Rk  Diff
7659   Shaquille O'Neal  0.056     0.213818    9             1     8
10261    David Robinson  0.508     0.211326    2             2     0
5197    Hakeem Olajuwon  0.211     0.204628    4             3     1
1700        Karl Malone  0.075     0.181606    7             4     3
10962    Michael Jordan  0.986     0.174346    1             5    -4
...                 ...    ...          ...  ...           ...   ...
12512    Trayvon Palmer  0.000    -0.057006  605           601     4
11821        Wes Iwundu  0.000    -0.066277  288           602  -314
1216     Zavier Simpson  0.000    -0.066415  318           603  -285
12495    Derrick Walton  0.000    -0.066490  215           604  -389
1205     Melvin Frazier  0.000    -0.125258  326           605  -279

[12728 rows x 6 columns]

In [37]:
all_predictions[all_predictions["Rk"] < 5].sort_values("Diff").head(10)

                Player  Share  predictions  Rk  Predicted_Rk  Diff
1334        Jason Kidd  0.712     0.028210   2            52   -50
5420        Steve Nash  0.839     0.034100   1            45   -44
8910   Peja Stojaković  0.228     0.036270   4            38   -34
13331      Joakim Noah  0.258     0.046968   4            37   -33
5438        Steve Nash  0.739     0.054129   1            34   -33
5453        Steve Nash  0.785     0.074421   2            21   -19
4912      Tim Hardaway  0.207     0.059984   4            20   -16
907       Devin Booker  0.216     0.091309   4            17   -13
7041       Kobe Bryant  0.291     0.078014   4            14   -10
1267       Gary Payton  0.372     0.076708   3            13   -10

In [38]:
pd.concat([pd.Series(reg.coef_), pd.Series(predictors)], axis=1).sort_values(0,ascending=False)

           0     1
13  0.087852  eFG%
18  0.033860   DRB
29  0.023198  W/L%
17  0.020993   ORB
10  0.016456    2P
21  0.012070   STL
22  0.010901   BLK
15  0.010414   FTA
20  0.007113   AST
12  0.007054   2P%
25  0.006918   PTS
5   0.004827   FGA
4   0.003353    FG
7   0.001701    3P
0   0.000294   Age
30  0.000279    GB
27  0.000136     W
1   0.000093     G
2   0.000004    GS
26 -0.000180  Year
32 -0.000275  PA/G
28 -0.000316     L
31 -0.000494  PS/G
33 -0.000569   SRS
24 -0.002625    PF
3  -0.004067    MP
16 -0.004784   FT%
14 -0.006344    FT
23 -0.009142   TOV
8  -0.009681   3PA
9  -0.009695   3P%
11 -0.016464   2PA
19 -0.026578   TRB
6  -0.155936   FG%

In [39]:
stats_ratios = stats[["PTS", "AST", "STL", "BLK", "3P", "Year"]].groupby("Year").apply(lambda x: x/x.mean())

In [40]:
stats_ratios

            PTS       AST       STL       BLK        3P  Year
0      1.013334  0.420714  0.961127  0.673469  0.508587   1.0
1      1.614653  1.028412  1.647646  0.673469  4.577279   1.0
2      0.311795  0.093492  0.274608  1.571429  0.000000   1.0
3      0.200440  0.186984  0.274608  0.000000  0.000000   1.0
4      2.383005  1.636110  1.784950  0.897959  1.525760   1.0
...         ...       ...       ...       ...       ...   ...
14692  0.735752  0.819562  0.479763  1.528302  0.650951   1.0
14693  0.071202  0.000000  0.000000  0.000000  0.130190   1.0
14694  1.281633  0.601012  1.119447  2.547170  0.520761   1.0
14695  0.474679  0.218550  0.319842  1.273585  0.650951   1.0
14696  1.008693  0.655649  1.119447  0.509434  2.343424   1.0

[14697 rows x 6 columns]

In [41]:
stats[["PTS_T", "AST_R", "STR_R", "BLK_R", "3P_R"]] = stats_ratios[["PTS", "AST", "STL", "BLK", "3P"]]

In [42]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,W/L%,GB,PS/G,PA/G,SRS,PTS_T,AST_R,STR_R,BLK_R,3P_R
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,0.707,5.0,106.3,99.6,6.73,1.013334,0.420714,0.961127,0.673469,0.508587
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,0.707,5.0,106.3,99.6,6.73,1.614653,1.028412,1.647646,0.673469,4.577279
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,0.707,5.0,106.3,99.6,6.73,0.311795,0.093492,0.274608,1.571429,0.000000
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,0.707,5.0,106.3,99.6,6.73,0.200440,0.186984,0.274608,0.000000,0.000000
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,0.707,5.0,106.3,99.6,6.73,2.383005,1.636110,1.784950,0.897959,1.525760

In [43]:
predictors += ["PTS_T", "AST_R", "STR_R", "BLK_R", "3P_R"]

In [44]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [45]:
mean_ap

0.726619022474594

In [46]:
stats["NPos"] = stats["Pos"].astype("category").cat.codes

In [47]:
stats["NTm"] = stats["Tm"].astype("category").cat.codes

In [48]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,PS/G,PA/G,SRS,PTS_T,AST_R,STR_R,BLK_R,3P_R,NPos,NTm
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,106.3,99.6,6.73,1.013334,0.420714,0.961127,0.673469,0.508587,2,15
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,106.3,99.6,6.73,1.614653,1.028412,1.647646,0.673469,4.577279,12,15
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,106.3,99.6,6.73,0.311795,0.093492,0.274608,1.571429,0.000000,2,15
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,106.3,99.6,6.73,0.200440,0.186984,0.274608,0.000000,0.000000,2,15
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,106.3,99.6,6.73,2.383005,1.636110,1.784950,0.897959,1.525760,8,15

In [49]:
stats["Pos"].unique()

array(['PF', 'SG', 'SF', 'PG', 'C', 'PG-SG', 'PF-SF', 'SG-PG', 'PF-C',
       'SG-SF', 'SF-PF', 'SF-SG', 'C-PF', 'SG-PF', 'PG-SF', 'SG-PG-SF',
       'SF-C'], dtype=object)

In [50]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=50, random_state=1, min_samples_split=5)

mean_ap, aps, all_predictions = backtest(stats, rf, years[29:], predictors)

In [51]:
mean_ap

0.726619022474594

In [52]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[29:], predictors)

In [53]:
mean_ap

0.726619022474594